@import "_normalize";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,500&family=Montserrat+Alternates:wght@600;700&family=Ubuntu:wght@300;400;500&display=swap");

$sm: 360px;
$md: 768px;
$lg: 1024px;
$mx: 1400px;

html {
  @media (max-width: $sm) {
    font-size: 12px;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  @media (min-width: $lg) {
    padding: 0 2rem;
  }
}

.title {
  position: relative;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #141f46;
  line-height: 0.75em;
  font-weight: bold;
  @media (max-width: $md) {
    font-weight: 700;
    text-align: center;
    font-size: 1.125rem;
  }

  &::after {
    background: #c2c1c1;
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50%;
    left: -70px;
    margin: 0rem 0rem 0rem 1rem;
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  @media (max-width: $mx) {
    max-width: 1024px;
  }
  @media (max-width: $lg) {
    max-width: 780px;
  }
  @media (max-width: $md) {
    max-width: 620px;
  }
  @media (max-width: $sm) {
    max-width: 100%;
  }
}
.text {
  font-size: 1.125rem;
  line-height: 2.125em;
  font-weight: 300;
  @media (max-width: $md) {
    text-align: center;
  }
}

.box-bg {
}

.first-page {
  &__max-container {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    @media (max-width: $mx) {
      max-width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      background: #e3e4e6;
      top: 0;
      max-width: 1300px;
      width: 100%;
      height: 800px;
      @media (max-width: $mx) {
        display: none;
      }
    }
  }

  &__additionally {
    @media (max-width: $mx) {
      display: none;
    }
  }

  &__container {
    @media (max-width: $sm) {
      padding: 0 5px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 3.4375rem 0rem 0rem 0rem;
    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
  }

  &__offer {
    position: relative;
    flex: 1 0 815px;
    z-index: 1;
    @media (max-width: $sm) {
      &::before {
        content: "";
        width: 100%;
        height: 280px;
        margin: 15% 0 0 0;
        top: 0;
        left: 0;
        background: #e3e4e6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    @media (max-width: $mx) {
      flex: 1 1 100%;
    }
  }

  &__content {
    padding: 8.125rem 0rem 0rem 0rem;
    @media (max-width: $lg) {
      margin: 0rem 0rem 4rem 0rem;
    }
    @media (max-width: $md) {
      text-align: center;
      padding: 3rem 0rem 0rem 0rem;
      margin: 0rem 0rem 3rem 0rem;
    }
  }

  &__img {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    & img {
      align-self: flex-end;
      max-width: 100%;
      padding: 0rem 0rem 0rem 1.875rem;
      @media (max-width: $lg) {
        align-self: start;
      }
      @media (max-width: $md) {
        display: none;
      }
    }
  }
}

.offer {
  &__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: $mx) {
      align-items: center;
    }
  }

  &__title {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 3.4375rem;
    font-weight: 600;
    color: #141f46;
    line-height: 1.3em;
    text-transform: uppercase;
    margin: 0rem 0rem 2.1875rem 0rem;
    @media (max-width: $md) {
      font-size: 2rem;
      text-align: center;
    }
    @media (max-width: $sm) {
      font-weight: 700;
      font-size: 1.125rem;
      max-width: 260px;
      align-self: center;
      margin: 0rem 0rem 2.5rem 0rem;
    }
  }

  &__text {
    position: relative;
    z-index: 3;
    margin: 0rem 0rem 4.375rem 0rem;
    max-width: 600px;
    @media (max-width: $lg) {
      align-self: flex-start;
    }
    @media (max-width: $md) {
      max-width: 100%;
    }
    @media (max-width: $sm) {
      max-width: 500px;
      font-size: 1rem;
      line-height: 1.125em;
      margin: 0 auto;
      text-align: center;
      margin: 0rem 0rem 1.25rem 0rem;
      & span {
        display: none;
      }
    }
  }

  &__img-mob {
    display: none;
    margin: 0 auto;
    @media (max-width: $md) {
      position: relative;
      display: block;
      max-width: 50%;
      margin: 0rem 0rem 1.0625rem 0rem;
    }
  }

  &__link {
    margin: 0rem 0rem 2.1875rem 0rem;
    @media (min-width: $md) {
      align-self: flex-start;
    }
    @media (max-width: $sm) {
      margin: 0;
      text-align: center;
    }
  }

  &__img {
    margin: 0 auto;
    @media (max-width: $mx) {
      margin: 0 0 4rem 0;
    }
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.link-offer {
  &__text {
    font-size: 0.875rem;
    line-height: 0.125em;
    text-transform: uppercase;
    color: #141f46;
    text-decoration: none;
    font-weight: 500;
    @media (max-width: $sm) {
      margin: 0rem 0rem 0.1875rem 0rem;
    }
  }

  &__line {
    margin: 0.1875rem 0rem 0rem 0rem;
    display: block;
    height: 1px;
    width: 62px;
    background: #141f46;
    @media (max-width: $sm) {
      margin: 0 auto;
    }
  }
}

.additionally {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8.4375rem 0rem 0rem 0rem;
    align-self: flex-end;
    margin: 0rem 1rem 0rem 0rem;
  }

  &__icon {
    color: #000;
    font-size: 2rem;
    margin: 0rem 0rem 3.625em 0rem;
    &:last-child {
      margin: 0;
    }
  }

  &__local {
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    justify-content: space-between;
    width: 100%;
    padding: 20.625rem 0rem 0rem 0.2rem;
  }
}

.local {
  &__currency {
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0rem 1.75em 0.5rem 0rem;
  }

  &__leng {
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0rem 0rem 0.5rem 0rem;
  }

  &__arrow {
    margin: 0rem 0rem 0rem 0.125rem;
  }
}

.content {
  &__title {
    margin: 0rem 0rem 3.3125rem 0rem;
    @media (max-width: $sm) {
      margin: 0rem 0rem 1rem 0rem;
    }
  }

  &__text {
    @media (max-width: $mx) {
      align-self: flex-end;
    }
  }
}

// CATEGORIES

.categories {
  &__title {
    margin: 0rem 0rem 5rem 0rem;
    @media (max-width: $md) {
      margin: 0rem 0rem 2.5rem 0rem;
    }
  }

  &__panel {
    z-index: 5;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    max-width: 675px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(27px);
    height: 83px;
    margin: 0px 0px 0px 25px;
    transition: all 0.5s ease-in-out;
    padding: 0 1.875rem;
    &._disable {
      opacity: 0;
      visibility: hidden;
    }

    @media (max-width: $md) {
      max-width: 100%;
      padding: 0 0.8125rem;
      margin: 0;
      bottom: 0;
      height: 40px;
    }

    @media (max-width: $sm) {
      height: 26px;
      padding: 0 0.8125rem;
    }
  }
}

.panel-categories {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__name {
    font-family: "Archivo", sans-serif;
    font-size: 1.5rem;
    line-height: 1.125em;
    font-style: italic;
    @media (max-width: $md) {
      font-size: 1rem;
    }
  }

  &__link {
  }
}

.link {
  &__text {
    font-size: 1.5rem;
    line-height: 0.125em;
    text-transform: uppercase;
    color: #141f46;
    text-decoration: none;
    font-weight: 500;
    @media (max-width: $md) {
      font-size: 0.9375rem;
    }
  }

  &__line {
    margin: 0.1875rem 0rem 0rem 0rem;
    display: block;
    height: 1px;
    width: 100%;
    background: #141f46;
  }
}

.content {
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 -25px;
  @media (max-width: $mx) {
    justify-content: center;
  }
  @media (max-width: $md) {
    margin: 0;
  }
}

.row {
  position: relative;
  padding: 25px;
  @media (max-width: $md) {
    padding: 0;
    margin: 0rem 0rem 1.2rem 0rem;
  }
}

.box {
  flex: 0 1 50%;
  position: relative;
  max-height: 670px;
  overflow: hidden;
  border: 1px solid #000;
  @media (max-width: $lg) {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @media (max-width: $md) {
    max-height: 450px;
  }

  .hide {
    opacity: 0;
  }

  .frame {
    position: absolute;
    border: 1px solid #000;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  a,
  h2,
  p {
    color: #000;
    max-width: 440px;
    transition: opacity 0.2s, transform 0.3s;
  }

  h2 {
    font-family: "Archivo", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.1875em;
    margin: 0rem 0rem 2.25rem 0rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 2.125em;
    font-weight: 300;
    margin: 0rem 0rem 4em 0rem;
  }

  a {
    font-size: 1.5rem;
    line-height: 0.125em;
    text-transform: uppercase;
    color: #141f46;
    text-decoration: none;
    font-weight: 500;
    padding: 0rem 0rem 0.4em 0rem;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    transition: all 0.3s ease-in-out;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
.blury-card {
  .frame {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    opacity: 0;
    transition: all 0.3s ease-in-out;

    @media (max-width: $md) {
      width: 100%;
      height: 100%;
    }
  }

  a,
  h2,
  p {
    text-align: center;
    transform: translatey(-50%);
    z-index: 3;
  }

  a,
  p {
    transform: translatey(30px);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.72);
    filter: blur(27px);
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  img {
    z-index: 2;
  }

  &:hover {
    .frame {
      width: calc(100% - 25px);
      height: calc(100% - 25px);
      opacity: 1;
      @media (max-width: $lg) {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
      }
    }

    img {
      opacity: 0.7;
    }

    &:before {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    img {
      filter: blur(27px);
    }
  }
}

@media screen and (max-width: $lg) {
  .wrapper {
    width: 100%;
  }
}
